body {
    padding: 0%;
}
.container {
	position: center;
}


.col {
	padding:50px;

}

h1{
	color: rgb(187, 4, 3);
	
      	font-family: 'Italianno', cursive;
      	font-size: 100px;
      
}

h1 {

    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;

}
.container{
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 120px;

}
	body  {
    background-color: rgb(230, 243, 255);
    
} 
